<!DOCTYPE html>
<html>
<head>
    <title>Pokenea</title>
    <link rel="stylesheet" href="/css/pokenea.css">
</head>
<body>
    <h1>Pokenea: <%= name %></h1>
    <img src="<%= image %>" alt="<%= name %>">
    <p><%= phrase %></p>
    <div class="container-id">
        <p>Container ID: <%= containerId %></p>
    </div>
</body>
</html>
